
.barra_navegacion{
    background-color: #4e43c8 !important;
}

.logo{
    height: 50px;
}

.logo_poke{
    height: 200px;
}

.fondo_poke{
    background-color: #160058;
}

.carta_poke{
    background-color: #4e43c8;
}


.estadisticas{
    background-color: #160058 !important;

}